POSTGRES_DB=ad_pipeline
POSTGRES_USER=ad_pipeline
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

MINIO_ROOT_USER=ad_pipeline
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=ad-pipeline
MINIO_INTERNAL_ENDPOINT=http://127.0.0.1:9000
MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
MINIO_PRESIGNED_EXPIRY_SECONDS=3600
